<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rocky.teatime">

    <application
        android:name="rocky.teatime.TeaTime"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="rocky.teatime.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <supports-screens android:smallScreens="true"
            android:normalScreens="true"
            android:largeScreens="true"
            android:xlargeScreens="true"
            android:anyDensity="true" />

        <activity android:name=".activities.DatabaseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddTeaActivity"
            android:label="@string/title_activity_add_tea"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activities.TimerActivity"
            android:label="Brewing..."
            android:theme="@style/Theme.AppCompat.Light"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
            android:name=".activities.EditTeaActivity"
            android:label="@string/EditTea"
            android:theme="@style/Theme.AppCompat.Light"></activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="Modify Settings"
            android:theme="@style/Theme.AppCompat.Light"></activity>

        <!--
            Now we introduce the services!
        -->

        <service
            android:name=".services.AlarmService"
            android:exported="false"></service>

    </application>

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

</manifest>