<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rocky.teatime">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <!-- Wake Lock is used to keep the timer counting down -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".TeaTime"
        android:allowBackup="true"
        android:icon="@mipmap/tea_time_launcher_icon_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tea_time_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="rocky.teatime.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>



        <activity android:name=".activities.DatabaseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddTeaActivity"
            android:label="@string/title_activity_add_tea"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TimerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Brewing..."
            android:theme="@style/Theme.AppCompat.Light"></activity>
        <activity
            android:name=".activities.EditTeaActivity"
            android:label="@string/EditTea"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="Modify Settings"
            android:theme="@style/Theme.AppCompat.Light" />
            <activity android:name=".activities.ViewTeaActivity"></activity>

        <!--             Now we introduce the services! -->

        <service
            android:name=".services.AlarmService"
            android:exported="false" />

        <service
            android:name=".services.VibratorService"
            android:exported="false" />

    </application>

</manifest>